
.paddingTop3 {
  padding-top: 3px;
}

.paddingLeft0 {
  padding-left: 0px;
}

#homepage_fullmap {
  height: 400px;
  position: relative;
}

.captions {
  .thumbnail {
    position:relative;
    overflow:hidden;

    .caption {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 88%;
      height: 88%;
      background: rgba(0,0,0,0.2);
      color:#fff !important;
    }
  }
}
