{% extends 'PrunaticWebBundle::base.html.twig' %}

{% block headline %}Fes el teu crit per la independència{% endblock headline %}

{% block navbar %}{% endblock navbar %}

{% block content %}
    <div class="span12">
        <div class="row-fluid">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}