parameters:
    database_driver:    pdo_mysql
    database_host:      127.0.0.1
    database_port:      ~
    database_name:      symfony
    database_user:      root
    database_password:  ~

    database_test_name: symfony_test

    mailer_transport:   smtp
    mailer_host:        127.0.0.1
    mailer_user:        ~
    mailer_password:    ~

    locale:             en
    secret:             ThisTokenIsNotSoSecretChangeIt

    node_bin:           /usr/bin/node
    node_paths:         /usr/lib/node_modules
