{% extends 'PrunaticWebBundle::base.html.twig' %}

{% block headline %}Un crit per Catalunya{% endblock headline %}

{% block content %}
    <div class="span12">
        <div class="row-fluid">
            <div class="span9" id="homepage_fullmap">
                <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=catalunya&amp;sll=37.0625,-95.677068&amp;sspn=55.586984,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=Catalu%C3%B1a,+Espa%C3%B1a&amp;ll=41.591159,1.520862&amp;spn=1.661583,2.469177&amp;t=m&amp;z=9&amp;output=embed"></iframe>
            </div>
            <div class="span3">
                {{ include('PrunaticWebBundle:Shout:components/steps.html.twig', { 'currentStep': 1 }, with_context = false) }}
            </div>
        </div>
        <hr>
        <div class="row-fluid">
            <div class="span4">
                {% render url('prunatic_shout_newest') %}
            </div>
            <div class="span4">
                {% render url('prunatic_shout_top_rated') %}
            </div>
            <div class="span4">
                <h2>Termòmetre de la independència</h2>
                Les poblacions més participatives:
                <ul class="unstyled">
                    <li>Arenys de Munt (567 crits)</li>
                    <li>Canet de Mar (421 crits)</li>
                    <li>...</li>
                </ul>
                I a la cua, com sempre:
                <ul class="unstyled">
                    <li>...</li>
                    <li>Madrid (-145 crits)</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}

