<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('prunatic_web_homepage') }}" title="Crida per la independència">Crida per la independència</a>
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown last">
                        <a href="#"><i class="icon-volume-up"></i> Afegeix un crit</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
